.add_card {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 19rem;
  height: 30rem;
  margin: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  border-radius: 1.75rem;
  cursor: pointer;
  color: #443282;
  animation: 1.25s ease-in-out 0ms 1 fadein;
  .header_container {
    .card_title {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }
  .body_container {
    // background-color: blue;
    // align-self: end;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-flow: column;
  }
  .add_icon {
  }
  .city_illustration {
  }
}
