.main_container {
  min-height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .login_card {
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #eee2e2;
    width: 85%;
    min-height: 80vh;
    animation: fadein 1s ease-in-out;
    .login_content {
      flex: 2 2;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      animation: fadein 1.5s ease-in-out;
      min-height: 100%;
      .login_header {
        font-size: 2.5rem;
        display: block;
        margin-bottom: 2rem;
        color: #0c1066;
        letter-spacing: 0.2rem;
        font-weight: bold;
        animation: fadein 1.75s ease-in-out;
      }
      .login_form {
        display: flex;
        flex-flow: column;
        width: 80%;
        align-items: center;
        animation: slidedown 2s ease-in-out;
        .login_input {
          margin: 1rem 0;
          padding: 1.5rem;
          border-radius: 2rem;
          outline: none;
          border: none;
          box-shadow: 0 0 2rem rgba(0, 0, 255, 0.3);
          width: 80%;
          background-color: transparent;
        }
        .login_input::placeholder {
          color: #39437a;
          font-size: 0.9rem;
        }
        .login_button {
          background-color: #30c8d6;
          padding: 0.7rem;
          border-radius: 2rem;
          color: white;
          font-size: 1rem;
          width: 50%;
          &:hover {
            background: linear-gradient(to right, #03a9f4, #1ccfa8);
          }
        }
      }
      .signup_link_wrapper {
        margin-top: 3rem;
        animation: slideup 1s ease-in-out;
        .signup_notice {
        }
        .signup_link {
          color: rgb(243, 118, 139);
          text-transform: uppercase;
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }
    }
    .login_aside {
      flex: 3 3;
      display: flex;
      justify-content: flex-end;
      min-height: 100%;
      flex-flow: column;
      border-radius: 0 10px 10px 0;
      //背景にランダムな写真を表示
      background: url('https://source.unsplash.com/random/1200x900?mountain')
        no-repeat center center;
      background-size: cover;
      .login_aside_overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }
      .login_welcome_text {
        color: pink;
        letter-spacing: 0.1rem;
        margin: 0 0 2rem 3rem;
        font-size: 2.8rem;
        position: relative;
        z-index: 5;
        animation: slideright 2s ease-out;
      }
      .login_aside_hr {
        height: 0.5rem;
        width: 8rem;
        border: none;
        border-radius: 1rem;
        outline: none;
        background-color: pink;
        position: relative;
        z-index: 5;
        margin: 0 0 8rem 3rem;
        animation: slideright 4s ease-out;
      }
    }
    @media screen and (max-width: 767px) {
      .login_aside {
        display: none;
      }
    }
  }
}
