.main_container {
  background-color: pink;
  justify-content: center;

  height: 100%;
  width: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: -2;
  // opacity: 0;
  // background-color: white;
  transition: opacity 300ms linear;
}
