.slide_menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 1rem;
  box-sizing: border-box;
  // transform: translateX(-103%);
  // position: relative;
  height: 100vh;
  width: 26rem;
  padding: 0;
  // width: 90%;
  // background-color: rgb(243, 241, 211);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  .menu_header {
    background: linear-gradient(to right, #00ff9b, #5f84fb);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      'greeting greeting'
      'image details';
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    color: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);

    .greeting_text {
      grid-area: greeting;
      font-size: 1.2rem;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      margin-top: 1rem;
      justify-self: center;
      align-self: center;
    }
    .profile_image_container {
      grid-area: image;
      margin-right: 0.5rem;
      height: 4rem;
      width: 4rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: pink;
      align-self: center;
      margin: 2rem;
      .profile_image {
        border-radius: 50%;
        max-width: 4rem;
      }
    }
    .account_details {
      grid-area: details;
      display: flex;
      flex-flow: column;
      margin-left: 1rem;
      align-self: center;
      .name_text {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }
      .email_text {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
      }
    }
  }
  .menu_body {
    display: grid;
    width: 100%;
  }
  .menu_footer {
  }
}
