.details_page_wrapper {
  // background: linear-gradient(#fc7d88, #495cfc);
  // height: 100%;
  // width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  // overflow: hidden;
  .background_gradient_circle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    // height: 120%;
  }
  .link {
    position: relative;
    z-index: 2;
  }
  .back_button {
  }
}
