.wrapper {
  width: 100%;
  height: 4rem;
  grid-template-columns: 1fr 1fr 0.25fr;
  .container {
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    // background-color: pink;
    .left_section {
      margin-left: 1rem;
      display: flex;
      align-items: center;

      .menu_button {
        height: 1rem;
        padding: 1.5rem;

        .menu_icon {
          color: #432c85;
        }
      }
      .logo_icon {
        height: 2rem;
        margin-left: 1rem;
        .logo_text {
          fill: #2b244d;
        }
      }
    }
    .middle_section {
      display: flex;
      justify-content: center;

      .date_text {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #432c85;
      }
    }
    .right_section {
      display: flex;
      justify-content: center;

      .mode_toggle_container {
        cursor: pointer;

        .mode_toggle_text {
          font-size: 0.75rem;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
        }
        .toggle_switch {
        }
      }
    }
  }
}
