.root_container {
  // margin: 0;
  // padding: 0px;
  // display: grid;
  // justify-content: stretch;
  display: grid;
  width: 100vw;
  height: 100vh;

  // position: relative;

  grid-template-rows: 1fr auto;
  // position: relative;
  // .main_header {
  // }
  // .main_container {
  // }
  // .main_footer {
  // }
}
